body {
    font-family: Garamound, sans-serif;
    border: 10px solid rgb(255, 255, 255);
    background-color: #ddd1c2;}

.entry {
    color: #333;
    text-align: center;
    font-size:25;
    margin-top: 90;}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);}

.header-logo {
    width: 85px; /* Adjust width as needed */
    height: 70px; /* Adjust height as needed */
    margin-top: 10;
    margin-left: 20;
    background-image: url('logo-no-background.png'); /* Path to your logo image file */
    background-size: contain; /* Adjust background size */
    background-position: center 12px; /* Center the background image */
    background-repeat: no-repeat;}

.textbox {
    width: 280px; /* Adjust the width as needed */
    height: 1.2px; /* Adjust the height as needed */
    padding: 12px; /* Optional: Add padding for better appearance */
    font-size: 15px; /* Optional: Adjust font size */
    position: center;}

.button {
    background-color: #ffffff;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;}

.textbox-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);}

.subtitle {
    margin-top: 50px;
    margin-left: 70px;}

.searchtable {
    width: 40%;
    margin-left: 70px;
    border-collapse: collapse;}

.searchtable th, .searchtable td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;}
