body {
    font-family: Arial, sans-serif;
    border: 1px solid black;
    background-color: #e6d4bd;
}

h1 {
    color: #333;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-logo {
    width: 200px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    background-image: url('logo-color.png'); /* Path to your logo image file */
    background-size: contain; /* Adjust background size */
    background-position: center 15px; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating the image */
}

.textbox {
    width: 280px; /* Adjust the width as needed */
    height: 1.2px; /* Adjust the height as needed */
    padding: 12px; /* Optional: Add padding for better appearance */
    font-size: 15px; /* Optional: Adjust font size */
    position: center; /* Set position relative to its normal position */
}

.button {
    background-color: #ffffff;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px; /* Adjust font size as needed */
    cursor: pointer;
}

.textbox-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.numbered-list {
    list-style-type: decimal; /* Use decimal numbering */
    padding-left: 20px; /* Adjust spacing between number and text */
}
